@using MediplusMVC.Areas.Admin.ViewModels;
@model HospitalVM;
<form method="post">
    <div class="form-group">
         <label asp-for="DoctorIds" class="control-label">Select Doctor</label>
            <select asp-for="DoctorIds" class="form-control">
            <option value="">Select Doctor</option>
            @foreach (var item in Model.Doctors)
            {
                <option value="@item.Value">@item.Text</option>
            }
            </select>
    </div>
        <label asp-for="Hospital.Title"></label>
        <input class="form-control" asp-for="Hospital.Title">
    </div>
    <div class="form-group">
        <label asp-for="Hospital.Description"></label>
        <input class="form-control" asp-for="Hospital.Description">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

