@using MediplusMVC.Models;
@model Doctor;
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input class="form-control" asp-for="Surname">
    </div>
    <div class="form-group">
        <label asp-for="Finkod"></label>
        <input class="form-control" asp-for="Finkod">
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

