@using EmployeeMVC.Areas.Admin.ViewModels;
@model MasterVM;
<form method="post">
    <div class="form-group">
        <label asp-for="Master.Name"></label>
        <input class="form-control" asp-for="Master.Name">
    </div>
    <div class="form-group">
        <label asp-for="Master.SurName"></label>
        <input class="form-control" asp-for="Master.SurName">
    </div>
    <div class="form-group">
        <label asp-for="Master.Email"></label>
        <input class="form-control" asp-for="Master.Email">
    </div>
    <div class="form-group">
        <label asp-for="Master.PhoneNumber"></label>
        <input class="form-control" asp-for="Master.PhoneNumber">
    </div>
    <div class="form-group">
        <label asp-for="Master.Username"></label>
        <input class="form-control" asp-for="Master.Username">
    </div>
    <div class="form-group">
        <label asp-for="Master.ExperienceYear"></label>
        <input class="form-control" asp-for="Master.ExperienceYear">
    </div>
    <div class="form-group">
        <label asp-for="Master.ServiceId" class="control-label">Select Service</label>
        <select asp-for="Master.ServiceId" class="form-control">
            <option value="">Select Patient</option>
            @foreach (var item in Model.Services)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>


