@using EmployeeMVC.Models;
@model Service;
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description">
    </div>

    <div class="mb-3">
 

        @foreach(var item in Model.ServicePhotos)
        {
            <img style="width: 100px;" src="~/download/ServiceImages/@item.ImageUrl"/>
            <a asp-action="DeletePhotoById" asp-route-id="@item.Id">x</a>
            <br/>
        }
        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


